// Media
@desktop: ~"screen and (min-width: 1100px)";
@not-desktop: ~"screen and (max-width: 1099px)";
@tablet: ~"screen and (min-width: 769px) and (max-width: 1099px)";
@mobile: ~"screen and (max-width: 768px)";

// Path
@path-images: "../images";
@path-icons: "@{path-images}/icons";

// Animation
@animation: 100ms linear;
